.row{
    
}
img{
    width: 800px;
    height: 500px;
    border-radius: 5px;
}
.myslides{
    background-color: goldenrod;
}
#aboutus{
    /* background-color: goldenrod; */
    /* padding: 50px; */
    /* margin-top: 40px; */
    /* margin-left: 0px; */
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
}
#about{
    background-image: url("./images/pizza1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 1500px;
    height: 800px; */
    padding: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
}
.para{
    background-color: goldenrod;
    width: 800px;
    height: 500px;
    border-radius: 5px;
    padding: 50px;
}
.media{
    color:black;
    text-align: center;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width:30px;
    color:blue;
    margin-bottom: 20px;
    border-radius: 50%;
}
.home{
    background-color: black;
    opacity: 50%;
}