.row{
    
}
img{
    width: 800px;
    height: 500px;
    border-radius: 5px;
}
.myslides{
    background-color: goldenrod;
}
#aboutus{
    background-color: goldenrod;
    text-align: left;
    padding: 50px;
    margin-top: 40px;
    margin-left: 0px;
}
#about{
    background-color: green;
    background-image: url("./images/pizza1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1500px;
    height: 800px;
}
